.alien {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    transition: all 150ms ease-out;
}