.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    transition: all 250ms ease-out;
    cursor: pointer;
    border: 1px solid transparent;
}

.wrapper + .wrapper {
    margin-left: 40px;
}

.wrapper:hover,
.selected {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.4)
}

.image {
    width: 130px;
    height: 130px;
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(30deg)
}

.even {
    transform: rotate(-30deg)
}

.name {
    margin-top: 20px;
    font-size: 16px;
}