.spaceship {
    width: 90px;
    height: 175px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    transition: all 150ms ease-out;
}

.rotationLeft {
    transform: rotate(-90deg);
}

.rotationRight {
    transform: rotate(90deg);
}

.rotationDown {
    transform: rotate(180deg);
}

.rotationUp {
    transform: rotate(0deg);
}