.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0,0,0,0.5);
    padding: 15px 30px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-image: url('../../images/cosmonaut.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.label {
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 20px;
    font-size: 14px;
}

.userName {
    font-weight: 400;
    margin-left: 5px;
}

.endGameButton {
    padding: 5px 15px;
    outline: none;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: bold;
    background: #ff6c36;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    transition: all 250ms ease-out;
    margin-left: auto;
}

.endGameButton:hover {
    border: 2px solid rgba(0,0,0,0.9);
    box-shadow: 2px 2px 5px #000;
}