.wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;;
}