.wrapper {
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../images/planet.png'), url('../../images//moon.png');
    background-position: 5% 20%, 90% 5%;
    background-repeat: no-repeat, no-repeat;
    background-size: 15%, 20%;
    opacity: 0.25;
}