@import url('https://fonts.googleapis.com/css?family=Turret+Road:400,700&display=swap&subset=latin-ext');

body {
  margin: 0;
  font-family: 'Turret Road', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #321A54;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
